body{
	background-color:#EEEEEE;
}

table, th, td{
	padding-top:10px;
	padding-bottom:10px;
	padding-left: 15px;
	padding-right: 15px;
}

.name{
	color: #333333;
	font-family: "Lucida Sans";
	font-size: 30px;
	text-decoration: none;
}

.buy{
	color:#999999;
	font-family: "Arial";
	font-size: 15px;
	text-decoration: none;
}
.table_head{
	padding-top: 3px;
	padding-bottom:3px;
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: bottom;
}

#floater	{float:left; height:20%; margin-bottom:-120px;}
#content	{clear:both; height:500px; position:relative;}
#mainImage {background-image: url('1024/ianwill1.jpg');}
